.home {
  background-color: #222222;
  width: 100vw;
  min-height: 100vh;
}

.home__content {
  height: auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
