.friendRequest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  color: white;
  transition: 0.3s all;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.friendRequest h3 {
  font-weight: 200;
}

.friendRequest__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendRequest__button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.friendRequest h3:hover {
  cursor: pointer;
  color: #e50914;
}
