.user {
  width: 300px;
  padding: 10px;
  color: white;
  transition: 0.3s all;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  border-radius: 10px;
}

.user__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user h3 {
  font-weight: 200;
}

.user h3:hover {
  cursor: pointer;
  color: #e50914;
}
