.movieDetail {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.movieDetail h1 {
  text-align: center;
}

.movieDetail__container {
  margin: 10px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieDetail__row {
  display: flex;
  max-width: 940px;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.movieDetail__poster,
.movieDetail__trailer {
  display: flex;
  flex-direction: column;
}

.movieDetail__info {
  display: flex;
  justify-content: space-between;
}

.movieDetail__row img {
  object-fit: contain;
  height: 390px;
  margin: 10px;
}

.movieDetail__title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.movieDetail__row p,
.movieDetail__row h3 {
  margin-left: 5px;
  padding: 5px;
}

.movieDetail__row h1 {
  max-width: 800px;
}

.player {
  margin: 10px;
  width: 640px;
  height: 390px;
}

.movieDetail__posterNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 390px;
  width: 260px;
  margin: 10px;
  background-color: black;
}

.movieDetail__trailerNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 640px;
  height: 390px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
  .player {
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width: 950px) {
  .movieDetail__row {
    flex-wrap: wrap;
  }
}
