/* .search {
  background-color: whitesmoke;
  border-radius: 7px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.search__icon {
  margin-right: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} */
