@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

.header {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}

.header__left {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
}

.header__left h1 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  letter-spacing: 3px;
  font-weight: 400;
}

.header__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header__center a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 21px;
}

.header__left h1 {
  color: white;
}
.header__menu {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.header a:hover {
  color: #e50914;
}

.is-active {
  border-bottom: 2px solid #e50914;
}

@media screen and (max-width: 800px) {
  .header__center {
    display: none;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
