.messageList {
  background-color: whitesmoke;
  width: 300px;
  height: 70vh;
  border-radius: 10px;
  margin: 10px;
  overflow: scroll;
}

.message__notRead {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
}

.message__read {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border-radius: 10px;
  color: gray;
  margin: 10px;
}

.message__notRead:hover,
.message__read:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messageList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messageList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
